<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>KR Crypto</title>
</head>

<body>
    <script src="/static/index.js"></script>
    <div style="margin: 5px">
        <div>
            <label>
                Decode:
                <input id="decode" type="text" name="text" placeholder="Enter text">
            </label>
            <button onclick="decode()">decode</button>
        </div>
        <br />
        <label>Output:
            <textarea id="decoded" readonly></textarea>
        </label>

    </div>
    <br>
    <div style="margin: 5px">
        <div>
            <label>
                Encode:
                <input id="encode" type="text" name="text" placeholder="Enter text">
            </label>
            <button onclick="encode()">encode</button>
        </div>
        <br />
        <label>Output:
            <textarea id="decoded" readonly></textarea>
        </label>
    </div>
</body>

</html>